.tileblock {
    background-color: #FF0040;
	color: white;
    width: 200px;
    height: 200px;
    display:inline-block;
	overflow: hidden;
	font-weight: 700;
	text-align: justify;
	text-transform:uppercase;
	font-family: 'Arimo', sans-serif;
	
}
.emptytile{
	background-color: transparent;
	display:inline-block;
	 width: 200px;
    height: 200px;
}

.bigtile{
	width: 600px;
	height:auto;
	min-height:200px;
	background-color: #f00;
}

.small-block {
    width: 33.33%;
    height: 33.33%;
    float:left;
	padding:0px;
	margin:0px;
	border:0px;
}

.small-block:nth-of-type(3n+0) {
    width: 33.34%;
}
	
.small-block:nth-child(-n+3) {
    height: 33.5%;
}

#bodycontainer{
	max-width:820px;
	margin: 0 auto; 
	background-color: #FFFFFF;
	font-size: x-small;
	padding:50px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}